@use "colours" as c;
@import "fonts";

@mixin colour-button($background, $text) {
  background-color: $background;
  color: $text;
}

@mixin button-basic {
  --white: #{c.$white};
  --black: #{c.$black};
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  padding: 1rem;
  border: none;
  cursor: pointer;
  @include button-font;
  @include colour-button(var(--white), var(--black));
}

@mixin button-basic-hover {
  --grey: #{c.$grey};
  --black: #{c.$black};
  @include button-basic;
  @include colour-button(var(--grey), var(--black));
}
