<h1>{{ title }}</h1> <!-- interpolation binding -->
<nav>
  <!-- when an anchor is clicked the routerLink attribute will change the application url to accommodate this path -->
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>
<router-outlet></router-outlet> <!-- use a router directive that tells the router where to display routed views -->
<!-- this means when the url path changes, the linked component (in app-routing.module.ts) will be displayed here -->
<app-messages></app-messages> <!-- display the messages component using selector -->
