<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0" />

<div [class.dark-theme]="theme.darkTheme" [class.light-theme]="!theme.darkTheme">
  <h1>{{ title }}</h1> <!-- interpolation binding -->
  <nav>
    <div class="nav-buttons">
      <!-- when an anchor is clicked the routerLink attribute will change the application url to accommodate this path -->
      <a routerLink="/dashboard" (click)="changeCurrentPage('dashboard')" [class.current-page]="currentPage === 'dashboard'">Dashboard</a>
      <a routerLink="/heroes" (click)="changeCurrentPage('heroes')" [class.current-page]="currentPage === 'heroes'">Heroes</a>
    </div>
    <button type="button" (click)="theme.changeTheme()">
      <span class="material-symbols-outlined">
      {{ theme.darkTheme ? "light_mode" : "dark_mode" }}
      </span>
    </button>
  </nav>

  <router-outlet></router-outlet> <!-- use a router directive that tells the router where to display routed views -->
  <!-- this means when the url path changes, the linked component (in app-routing.module.ts) will be displayed here -->
  <app-messages></app-messages> <!-- display the messages component using selector -->
</div>
