@import "../assets/styles/base/__base";
@import "../assets/styles/elements/__elements";

div.dark-theme {
  @import "../assets/styles/themes/dark-theme";
  background-color: $background;
  color: $text;

  h1 {
    @include main-page-heading;
  }

  nav {
    @include navbar;
    @include navigation-button;
  }
}

div.light-theme {
  @import "../assets/styles/themes/light-theme";
  background-color: $background;
  color: $text;

  h1 {
    @include main-page-heading;
  }

  nav {
    @include navbar;
    @include navigation-button;
  }
}
