.base-button {
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  border: none;
  cursor: pointer;
}

@mixin navigation-button {
  a {
    @extend .base-button;
    @include button-text;
    background-color: $navbar-colour;
    color: map-get($colour-matches, $navbar-colour);
  }
  a:hover {
    @extend .base-button;
    @include button-text;
    background-color: $nav-button-normal;
    color: map-get($colour-matches, $nav-button-normal);
  }
  .current-page {
    @extend .base-button;
    @include button-text;
    background-color: $nav-button-normal;
    color: map-get($colour-matches, $nav-button-normal);
  }
}

@mixin dashboard-favourites {
  a {
    @extend .base-button;
    @include button-text;
    border-radius: 10px;
    background-color: $nav-button-normal;
    color: map-get($colour-matches, $nav-button-normal);
  }
  a:hover {
    @extend .base-button;
    @include button-text;
    border-radius: 10px;
    background-color: $navbar-colour;
    color: map-get($colour-matches, $navbar-colour);
  }
}

@mixin message-button {
  button {
    @extend .base-button;
    @include button-text;
    border-radius: 10px;
    background-color: $nav-button-normal;
    color: map-get($colour-matches, $nav-button-normal);
  }
  button:hover {
    @extend .base-button;
    @include button-text;
    border-radius: 10px;
    background-color: $navbar-colour;
    color: map-get($colour-matches, $navbar-colour);
  }
}

@mixin add-delete-hero {
  button {
    @extend .base-button;
    @include button-text;
    border-radius: 10px;
    font-size: 1rem;
    padding: 10px;
    background-color: $nav-button-normal;
    color: map-get($colour-matches, $nav-button-normal);
  }
  button:hover {
    @extend .base-button;
    @include button-text;
    border-radius: 10px;
    font-size: 1rem;
    padding: 10px;
    background-color: $navbar-colour;
    color: map-get($colour-matches, $navbar-colour);
  }
}

@mixin theme-button {
  button {
    @extend .base-button;
    @include button-text;
    padding: 0 5px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $theme-button;
    color: map-get($colour-matches, $theme-button);
  }
}
