.flex-row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

@mixin navbar {
  @extend .flex-row;
  justify-content: space-between;
  background-color: $navbar-colour;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@mixin favourite-heroes {
  @extend .flex-row;
  justify-content: center;
  gap: 1.5rem;
}

@mixin search-results {
  padding-inline-start: 0px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.7rem;
  list-style-type: none;
  li {
    display: flex;
    align-items: center;
    flex-flow: row;
    a {
      text-decoration: none;
      @include secondary-text;
    }
    a:hover {
      color: $highlight-text;
    }
  }
}
