// main background
$background: $dark-purple !global;
// text
$text: $white !global;
$highlight-text: $red !global;

// navbar and button colours
$navbar-colour: $lilac !global;
$nav-button-normal: $purple !global;

// theme button colour
$theme-button: $blue !global;

// Colour matches (background colour: text colour)
$colour-matches: (
  $nav-button-normal: $white,
  $navbar-colour: $white,
  $theme-button: $white,
) !global;
