// main background
$background: $cream !global;
// text
$text: $black !global;
$highlight-text: $red !global;

// navbar and button colours
$navbar-colour: $light-green !global;
$nav-button-normal: $green !global;

// theme button colour
$theme-button: $peach !global;

// Colour matches (background colour: text colour)
$colour-matches: (
  $nav-button-normal: $black,
  $navbar-colour: $black,
  $theme-button: $black,
) !global;
