@import "../fonts";
@import "../button-styles";
@import "../flex-styles";

div {
  text-align: center;

  h2 {
    @include header-font;
  }

  button {
    @include button-basic;
    margin-bottom: 2rem;
  }
  button:hover {
    @include button-basic-hover;
  }

  div {
    margin-top: 0.5rem;
    @include second-font;
  }
}
