@import "../../assets/styles/base/__base";
@import "../../assets/styles/elements/__elements";

div {
  text-align: center;

  h2 {
    @include section-heading;
  }

  button {
    @include dashboard-favourites($blue);
    @include button-text;
    margin-bottom: 2rem;
  }
  button:hover {
    @include dashboard-favourites($dark-blue);
  }

  div {
    margin-top: 0.5rem;
    @include secondary-text;
  }
}
